.heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  }

  .formContainer::-webkit-scrollbar {
    display: none;
  }
  
  .formElementWrapper {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  
  .deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f44336; /* Red color */
    border: none;
    border-radius: 50%;
    color: white;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10; /* Ensure it's above other elements */
  }
  
  .deleteButton:hover {
    background-color: #d32f2f; /* Darker red on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
  }
  
  .deleteButton:focus {
    outline: none; /* Remove default focus outline */
  }
  
  .deleteButton svg {
    width: 16px;
    height: 16px;
  }
  
 